<p id="notice"><%= notice %></p>
<p><strong>id:</strong><br/><%= @album.id %></p><hr/>
<p><strong>title:</strong><br/><%= @album.title %></p><hr/>
<p><strong>photo:</strong><br/><%= image_tag(@album.photo.image_url(:medium)) if @album.photo %></p><hr/>
<p><strong>tracks:</strong><br/>
<% @album.tracks.each do |track| %>
	<%= link_to track.audio_url, track.audio_url %><br/>
<% end %>
</p><hr/>
<%= link_to 'Edit', edit_admin_album_path(@album), class: 'btn' %>
<%= link_to 'Back', admin_album_path, class: 'btn' %>

