<h1>Articles</h1>
<p>
<%= link_to 'New Article', new_admin_article_path, class: 'btn btn-primary' %>
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Display</th>
			<th>Document</th>
			<th>URL</th>
			<th>Created</th>
			<th>Updated</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
			<%= content_tag_for(:tr, article) do |article| %>
				<td><%= article.id %></td>
				<td><%= article.title %></td>
				<td><%= article.description %></td>
				<td><%= article.display %></td>
				<td><%= link_to('PDF', article.document.pdf_url) if article.document %></td>
				<td><%= link_to article.external_url if article.external_url %></td>
				<td><%= article.created_at %></td>
				<td><%= article.updated_at %></td>
				<td>
					<%= link_to 'Show', [:admin, article], class: 'btn btn-mini' %>
					<%= link_to 'Edit', edit_admin_article_path(article), class: 'btn btn-mini' %>
					<%= link_to 'Delete', [:admin, article], method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn btn-mini btn-danger' %>
				</td>
			<% end %>
		<% end %>
		
	</tbody>

</table>

