<p id="notice"><%= notice %></p>
<p><strong>id:</strong><br/><%= @article.id %></p><hr/>
<p><strong>title:</strong><br/><%= @article.title %></p><hr/>
<p><strong>description:</strong><br/><%= @article.description %></p><hr/>
<p><strong>display:</strong><br/><%= @article.display %></p><hr/>
<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
