<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Photo:</b><br>
  <%= @project.photo ? image_tag(@project.photo.image_url(:thumb)) : 'No Photo' %>
</p>



<p>
	<b>Tracks:</b>
	<ul class="unstyled">
	<% @project.tracks.each do |track| %>
	<li><%= link_to track.title, track.audio_url %></li>
	<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
