<p id="notice"><%= notice %></p>
<p><strong>id:</strong><br/><%= @project.id %></p><hr/>
<p><strong>name:</strong><br/><%= @project.name %></p><hr/>
<p><strong>photo:</strong><br/><%= image_tag @project.photo.image_url(:medium) %></p><hr/>
<p><strong>tracks:</strong><br/>
<% @project.tracks.each do |track| %>
	<%= link_to track.audio_url, track.audio_url %>
<% end %>
</p><hr/>
<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
