<section id="main">
		<div id="player">


		<% if(Album.where(is_sideman: true).count > 0) %>
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-7">
					<ul class="inline music_filter">
						<li><%= link_to 'Recordings as a Leader', music_path, class: ('text-muted' if params[:q] == 'side' ) %></li>
						<li><%= link_to 'Recordings as a Sideman/Co-Leader', music_path( q: 'side'), class: ('text-muted' if !params[:q]) %></li>
					</ul>
				</div>
			</div>
		<% end %>
			<% @albums.each do |album| %>


			<div class="album row">

				<div class="col-md-5">
					<img class="album-art img-responsive" src="<%= album.photo.image_url if album.photo %>" />
				</div>
				<div class="col-md-7">
					<div class="right-pad">
						<div class="top">
							<h3><%= album.title %></h3>
							<% if album.project? %>
								<h4><%= album.project %></h4>
							<% end %>
							<p class="date"><%= album.year %></p>
							<%= album.cta %>
						</div>

						<% if album.personnel? %>
						<div class="personnel">
							<p><%= album.personnel %></p>
						</div>
						<% end %>



						<% if album.tracks.length > 0 %>
						<div class="tracks">
							<h5>Selected tracks:</h5>
							<% album.tracks.each_with_index do |track, index| %>
								<div class="track-player" data-title="<%= track.title %>">
									<span class="title"><%= track.title %></span>
									<audio preload src="<%= track.audio_url %>"></audio>
								</div>
							<% end %>
						</div>
						<% end %>

						<% if album.links.length > 0 %>
						<div class="available-on">
							<ul class="unstyled links">
								<% album.links.each do |link| %>
								<li class="<%= link.service %>"><a title="<%= link.name %>" href="<%= link.url %>" target="_blank"><%= link.name %></a></li>
								<% end %>
							</ul>
						</div>
						<% end %>
					</div>




				</div>

			</div>

			<% end %>

		</div>


</section>



<script>

audiojs.events.ready(function() {
        audiojs.createAll({
	css: false
});
      });

</script>

