<h1>Documents</h1>

<%= form_for [:admin, @document], :html => { :class => 'form-vertical' } do |f| %>
	<%= file_field_tag :audio, multiple: true, name: 'document[pdf]' %>
	<div id="tracks"></div>
<% end %>


<table class="table table-striped">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>PDF</th>
	    <th>Title</th>
	    <th>Created</th>
	    <th>Updated</th>
	    <th>Actions</th>
	  </tr>
		
	</thead>
	<tbody>
		<% @documents.each do |document| %>
		  <tr>
		    <td><%= document.id %></td>
		    <td><%= link_to document.title, document.pdf_url %></audio></td>
		    <td><%= document.title %></td>
		    <td><%= document.created_at %></td>
		    <td><%= document.updated_at %></td>

		    <td>
				<%= link_to 'Edit', edit_admin_document_path(document), class: 'btn btn-mini' %>
				<%= link_to 'Delete', [:admin, document], method: :delete, data: { confirm: 'Are you sure?' },  class: 'btn btn-mini btn-danger' %>
			</td>
		  </tr>
		<% end %>
		
	</tbody>

</table>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
		{%=o.name%}
		<div class="progress"><div class="bar" style="width: 0%;"></div></div>
	</div>
</script>
