<!DOCTYPE html>
<html>
<head>
  <title>Stevelehman ADMIN</title>
  <%= stylesheet_link_tag "admin/styles.css", media: "all" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-default">
	    <div class="container">
	      <a class="navbar-brand" href="#">Steve Lehman</a>
			<div class="">
				<% if user_signed_in? %>

				<ul class="nav navbar-nav">
					<li class="divider-vertical"></li>
					<li><%= link_to 'Scholarship', admin_articles_path %></li>
					<li><%= link_to 'Posts', admin_posts_path %></li>
					<li><%= link_to 'Projects', admin_projects_path %></li>
					<li><%= link_to 'Events', admin_events_path %></li>
					<li><%= link_to 'Press', admin_quotes_path %></li>
					<li><%= link_to 'Videos', admin_videos_path %></li>
					<li><%= link_to 'Albums', admin_albums_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to 'Pages', admin_pages_path %></li>

					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Files<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Photos', admin_photos_path %></li>
							<li><%= link_to 'Documents', admin_documents_path %></li>
							<li><%= link_to 'Tracks', admin_tracks_path %></li>
						</ul>
					</li>

					<li>
						<%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
					</li>



				</ul>

				<% end %>

	    </div>
	  </div>
	</div>


	<div class="container">
		<% flash.each do |name, msg| %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		      <%= msg  %>
		    </div>
		  <% end %>
		<div class="row">
			<div class="col-md-12">
				<%= yield %>
			</div>

		</div>

	</div>
	<%= yield :body_js %>
</body>
</html>
